extends layout

block content

  header.hero-section(style='background-image: linear-gradient(180deg, #c4b6fd, #93acfc); min-height: 91vh; margin-top: 108px;')
    .container
      .row.align-items-center.py-4.gy-5
        each noman in hero
          .col-12.col-lg-6
            .text-center.text-md-start
              h1.display-md-2.display-4.fw-bold.text-dark.pb-2
                span.text-primary #{noman.colorText} 
                span.text-dark #{noman.smallTitle}  

              p.lead(data-aos='fade-right' data-aos-duration="2000") 
                |  #{noman.message}
                
              a.btn.btn-primary.px-5.py-3.mt-3.fs-5.fw-medium(href=`/uploads/${noman.cv}` download='' data-aos='fade-right' data-aos-duration="1000")
                | Download CV
          .col-12.col-lg-6(style='overflow: hidden;')
            img.img-fluid.rounded.mx-auto.d-block(src=`/uploads/${noman.image}` data-aos='fade-left' data-aos-duration="2000" style='background-image: linear-gradient(180deg, #c4b6fd, #93acfc);')

  //- <-- About Me -->
  .container(style='overflow: hidden;')
    .row.align-items-center.gx-3.gy-5.py-5.mt-5.mb-5
      each noman in hero
        .col-12.col-md-12.col-lg-5
          img.img-fluid.mx-auto.d-block(src=`/uploads/${noman.image}` data-aos='zoom-in-up' data-aos-duration="2000")
        .col-12.col-md-12.text-center.text-lg-start.col-lg-7
          h1.p-2.display-5(data-aos='fade-right' data-aos-duration="1000" style='font-family: Verdana,BlinkMacSystemFont,-apple-system,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif') About Me
          p.about-text(data-aos='fade-left' data-aos-duration="1000")
            | #{noman.message}

          p.about-text(data-aos='fade-right' data-aos-duration="1000")
            | #{noman.secondMessage} 

            .d-grid.gap-2.d-md-flex.justify-content-md-center
              a.btn.btn-primary.px-4.py-3.mt-3.fs-5.fw-medium(data-aos='fade-right' data-aos-offset='50' data-aos-easing='ease-in-sine') 
                i.fa-solid.fa-pen-to-square
                |   Read More About Me 

              a.btn.btn-primary.px-4.py-3.mt-3.fs-5.fw-medium(href=`https://wa.me/${noman.contact}` data-aos='fade-left' data-aos-offset='50' data-aos-easing='ease-in-sine')  
                i.fa-solid.fa-phone.fa-fade  
                |   Contact Me 

  //- <-- My Services -->
  .container.pt-5(style='overflow: hidden;')
    .container.pt-5
      div.text-center 
        h1.p-2.display-5(data-aos='fade-right' data-aos-duration="1000") My Services
      .card.mb-3.rounded-0.shadow-0.border-0
        .row.g-0
          each noman in services
            .col-sm-12.col-xl-3.rounded-0.p-1.border.shadow-none.bg-image.hover-zoom.my-1
              img.img-fluid(src=`/uploads/${noman.image}` alt='')
            .col-sm-12.col-xl-9.border.shadow-none.my-1
              .card-body
                h5.card-title #{noman.heading.substring(0,50)}
                p.card-text #{noman.message.substring(0,190)}
                a.btn.btn-dark.btn-sm.rounded-0.text-capitalize(href="") Read More..

  //- <-- My Product -->
  .container.pt-5
    .container.pt-5
      div.text-center 
        h1.p-2.display-5 My Product
      .container.pt-3
        .row
          each noman in product
            .col-sm-12.col-xl-3.p-2.border.mb-2.bg-image.hover-zoom
              img.img-fluid(src=`/uploads/${noman.image}` alt='')
            .col-sm-12.col-xl-9.p-2.border.mb-2
              h5 #{noman.heading.substring(0,50)}
              p #{noman.message.substring(0,195)}
              a.btn.btn-dark.btn-sm.rounded-0.text-capitalize(href="") Read More..
    
  //- <-- My Footer -->
  footer.bd-footer.py-4.py-md-5.bg-dark(style='margin-top: 15rem;')
    .container.py-4.py-md-5.px-4.px-md-3.bg-dark.text-white
      .row
        each noman in footer
          .col-lg-2.mb-3
            a(href="").d-inline-flex.align-items-center.mb-2.text-body-emphasis.text-decoration-none
              img.d-block.me-2(src=`/uploads/${noman.image}`, alt="" style="height: ; width: 40px;")

          .col-6.col-lg-2.offset-lg-1.mb-3
            h5 Links

            ul.list-unstyled
              li.mb-2
                a(href="").text-white.text-decoration-none Home 

              li.mb-2
                a(href="").text-white.text-decoration-none Docs 

              li.mb-2
                a(href="").text-white.text-decoration-none Examples 

              li.mb-2
                a(href="").text-white.text-decoration-none Blog 
          
          .col-6.col-lg-2.mb-3
            h5 Projects

            ul.list-unstyled
              li.mb-2
                a(href="").text-white.text-decoration-none Corporate Website 

              li.mb-2
                a(href="").text-white.text-decoration-none Blog Application 

              li.mb-2
                a(href="").text-white.text-decoration-none Portfolio Website

              li.mb-2
                a(href="").text-white.text-decoration-none Landing Page
              
              li.mb-2
                a(href="").text-white.text-decoration-none Custom Website
                
          .col-6.col-lg-2.mb-3
            h5 Contact Us

            ul.list-unstyled
              li.mb-2
                span #{noman.email}

              li.mb-2
                span  #{noman.contact}

              li.mb-2
                span Corporate sponsors 

              li.mb-2
                a(href="").text-white.text-decoration-none Stack Overflow
          span.text-center  #{noman.message}
