extends ../layout 


block content 
    .container(style='margin-top: 140px;') 

    .card
        h2.card-header.text-center(style='color: #32c5d2')  Footer View

        .card-body
            .table-responsive.p-1
                table#example.table.table-striped.table-bordered.table-hover(style='width:100%')
                    thead
                        tr
                            th.text-center ID
                            th.text-center Email
                            th.text-center Contact
                            th.text-center Message
                            th.text-center Image 
                            th.text-center Actions
                        tbody
                            each noman in footer
                                tr
                                    td.text-center=noman.id
                                    td.text-center=noman.email
                                    td.text-center=noman.contact
                                    td.text-center.w-25=noman.message

                                    td.text-center
                                        img.img-fluid.rounded-circle.my-3(src=`/uploads/${noman.image}`, alt="image" style='width: 100px; height: 100px;')

                                    td.text-center
                                        a.i.bi.bi-trash2.btn.btn-outline-primary.btn.sm.mx-1(href=`/user/addmouse/delete/${noman.id}`) 
                                            i.fa-solid.fa-pencil
                                        a.i.bi.bi-trash2.btn.btn-outline-danger.btn.sm.my-1(href=`/admin/hero/delete/${noman.id}`) 
                                            i.fa-solid.fa-trash


