extends ../layout 

block content 

    style.
        body{ background-image: linear-gradient(180deg, #f400ff, #0039f1); min-height: 81vh;}
        
    .container-md.mb-3(style='margin-top: 100px;')
        .card
            h1.text-center.text-primary.mt-2.text-decoration-underline(data-aos='fade-right' data-aos-duration="2000") Edit Component
            .card-body
                form(action=`/admin/hero/edit/${hero.id}` method="post" enctype="multipart/form-data")

                    .row 

                        form(action="/admin/hero" method="post" enctype="multipart/form-data" style='')

                            .row 
                                .col-lg-4
                                    .form-outline.mb-3(data-mdb-input-init='')
                                        input#formControlLg.form-control.form-control-lg(type='text' name='colorText' value=hero.colorText)
                                        label.form-label(for='') Color Text
                                    
                                .col-lg-4
                                    .form-outline.mb-3(data-mdb-input-init='')
                                        input#formControlLg.form-control.form-control-lg(type='text' name='smallTitle' value=hero.smallTitle)
                                        label.form-label(for='') Small Title

                                .col-lg-4
                                    .form-outline.mb-3(data-mdb-input-init='')
                                        input#formControlLg.form-control.form-control-lg(type='text' name='contact' value=hero.contact)
                                        label.form-label(for='') Whatsapp Number Start to 880
                            .row 
                                .col-lg-6
                                    .mb-3(data-mdb-input-init='')
                                        label.mb-1(for="") Upload CV
                                        input#formFileLg.form-control.form-control-md(type='file' name='cv')
                                        if hero.cv 
                                            small.text-muted Current CV: #{hero.cv}
                                            a(href=`/uploads/${hero.cv}` target='_blank').text-decoration-none  View CV
                                            input(type="hidden", name="existingCv" value=hero.cv)

                                .col-lg-6
                                    .mb-3(data-mdb-input-init='')
                                        label.mb-1(for="") Upload image
                                        input#formFileLg.form-control.form-control-md(type='file' name='image')
                                        if hero.image
                                            small Current Image: #{hero.image}
                                            a(href=`/uploads/${hero.image}` target='_blank').text-decoration-none    View image
                                            img.img-fluid.rounded-circle.mx-auto.d-block(src=`/uploads/${hero.image}` alt='' data-aos='fade-left' data-aos-duration="2000" style='background-image: linear-gradient(180deg, #c4b6fd, #93acfc); height: 100px; width: 100px;')
                                            input(type="hidden", name="existingImage" value=hero.image)
                                            
                            .row 

                                .col-lg-6
                                    .form-outline.mb-3(data-mdb-input-init='')
                                        textarea#textAreaExample.form-control(rows='4' name='message')=hero.message
                                        label.form-label(for='') Message

                                .col-lg-6
                                    .form-outline.mb-3(data-mdb-input-init='')
                                        textarea#textAreaExample.form-control(rows='4' name='secondMessage')=hero.secondMessage
                                        label.form-label(for='') Second Message
                                div   
                                    button.btn.btn-primary.text-capitalize(type="submit") Submit

                    //-     .col-md-4
                    //-         .form-outline.mb-3
                    //-             input#formControlLg.form-control.form-control-lg(type='text' name='colorText' value=hero.colorText)
                    //-             label.form-label(for='formControlLg') Color Text
                            
                    //-     .col-md-4
                    //-         .form-outline.mb-3
                    //-             input#formControlLg.form-control.form-control-lg(type='text' name='smallTitle' value=hero.smallTitle)
                    //-             label.form-label(for='formControlLg') Small Title

                    //-     .col-md-4
                    //-         .form-outline.mb-3
                    //-             input#formControlLg.form-control.form-control-lg(type='text' name='contact' value=hero.contact)
                    //-             label.form-label(for='formControlLg') Whatsapp Number Start to 880

                    //- .row 
                    //-     .col-md-4
                    //-         .mb-3
                    //-             label.mb-1(for="formFileLg") Upload CV
                    //-             input#formFileLg.form-control.form-control-md(type='file' name='cv')
                    //-             if hero.cv
                    //-                 small.text-muted Current CV: #{hero.cv}
                    //-                 a(href=`/uploads/${hero.cv}` target="_blank") View CV
                    //-                 input(type="hidden" name="existingCv" value=hero.cv)

                    //-     .col-md-4
                    //-         .mb-3
                    //-             label.mb-1(for="formFileLg") Upload Image
                    //-             input#formFileLg.form-control.form-control-md(type='file' name='image')
                    //-             if hero.image
                    //-                 small.text-muted Current Image: #{hero.image}
                    //-                 img.img-fluid.rounded-circle.my-3.mx-auto.d-block(src=`/uploads/${hero.image}` alt="Current Image" style="width: 100px; height: 100px;")
                    //-                 input(type="hidden" name="existingImage" value=hero.image)

                    //- .form-outline.mb-3
                    //-     textarea#textAreaExample.form-control(rows='4' name='message')=hero.message
                    //-     label.form-label(for='textAreaExample') Message
                        
                    //- button.btn.btn-primary.text-capitalize(type="submit") Submit


